<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="UTF-8" />
    <meta name="viewport" content="width=device-width,
 initial-scale=1.0" />
    <meta httpEquiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="This is a simple
 to do app" />
    <title>Home</title>
</head>

<style>
    {{BASE_CSS}}
</style>

<body>
    <h1>Willkommen</h1>
    <div class = "pp">
    <img id = "profilepicture"  width="200" height="200"/>
    </div>

    <div class = "button-container-home">

        <div class = "button-item">
            <button id = "identity">Identität</button>
        </div>

        <div class = "break"></div>
        
        <div class = "button-item">
            <button id = "certificates">Zertifikate</button>
        </div>

        <div class = "break"></div>

        <div class = "button-item">
            <button id = "scan">Code scannen</button>
        </div>
        
    </div>
</body>

<script type="text/javascript">
    document.getElementById("identity").onclick = function () {
        location.href = "http://127.0.0.1:8000/profile";
    };

    document.getElementById("scan").onclick = function () {
        location.href = "http://127.0.0.1:8000/scan";
    };
    

</script>

</html>